name: CI - Tests and Coverage

on:
  push:
    branches:
      - main
      - assignment2-devops
  pull_request:
    branches:
      - main
      - assignment2-devops

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run tests with coverage
        run: |
          pytest --cov=backend --cov-report=term-missing --cov-fail-under=70
